
body {
  margin: 0;
  font-family: 'VT323', sans-serif; /* Retro-style font for that old-school vibe */
  background: url('/images/bg.jpg') no-repeat center center fixed;
  background-size: cover;
  color: black;
}

/* Menu bar */
.menu-bar {
  background-color: #dcdcdc;
  padding: 10px;
  display: flex;
  justify-content: flex-start;
  border-bottom: 2px solid #888;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.menu-item {
  position: relative;
  margin-right: 20px;
}

.menu-item a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 18px;
  padding: 5px 10px;
  display: block;
  border-radius: 4px;
  cursor: pointer;
  font-family: 'VT323', sans-serif;
}

.menu-item a:hover {
  background-color: #c0c0c0; /* Darker grey for hover effect */
}

/* Dropdown menu */
.dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #dcdcdc;
  border: 1px solid #888;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  list-style: none;
  padding: 0;
  margin: 0;
  z-index: 1;
  font-family: 'VT323', sans-serif;
}

.dropdown li {
  padding: 5px 15px;
}

.dropdown li a {
  font-weight: normal;
  padding: 0;
  text-decoration: none;
  color: black;
  display: block;
}

.dropdown li a:hover {
  background-color: #b0b0b0;
}

.mac-window {
  width: 400px;
  margin: 50px auto;
  border: 2px solid #666;
  background-color: #f0f0f0;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  font-family: 'VT323', sans-serif;
}

.title-bar {
  color: black;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid #666;
  position: relative;
  background: linear-gradient(to bottom, #dcdcdc 0%, #c0c0c0 100%);
}

.title-bar::before, .title-bar::after {
  content: '';
  position: absolute;
  height: 1px;
  background-color: #999;
  width: 100%;
}

.title-bar::before {
  top: 45%;
}

.title-bar::after {
  top: 55%; /* Adjusted position to avoid crossing the text */
}

.window-title {
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  z-index: 2;
  background-color: #c0c0c0;
  padding: 0 10px;
}

.buttons {
  position: absolute;
  right: 10px;
  display: flex;
  z-index: 3;
}

.buttons span {
  width: 14px;
  height: 14px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
  background-color: #f0f0f0;
  border: 1px solid #666;
  box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

/* Window content */
.window-content {
  padding: 20px;
  text-align: center;
}

.window-content h1 {
  font-size: 24px;
  margin: 10px 0;
}

.window-content p {
  font-size: 16px;
}